// Variables globales
// Modificaciones en colores
$color-primary: #3498db;  // Azul
$color-secondary: #e74c3c;  // Rojo
$color-white: #ffffff;
$color-black: #000000;
$color-background: #f8f9fa;
$color-main-bg: #07283f;
$color-nav-bg: #212529;